.edContainer {
  background-color: white;
  position: relative;
}

.educationContainer {
  font-family: "Lora", serif;
  color: #023047;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 0vw 5vw 0vw 5vw;
}

.educationContainer > div {
  height: 50vh;
  border-radius: 10px;
  background-color: #8ecae6;
  margin-top: 50px;
  margin-bottom: 100px;
}

.educationContainer > p {
  text-align: left;
  height: 10px;
  padding: 0 10px 0 10px;
}

.educationHeading {
  background-color: white;
  position: sticky;
  top: 0;
  font-family: "Lora", serif;
  font-size: 50px;
  color: #ffb703;
  padding-top: 5px;
  margin-top: 0;
  margin-bottom: 2vh;
}

.educationPic {
  background-color: white;
  height: 200px;
  width: 100vw;
  position: sticky;
  top: 7%;
}

.gradIcon {
  position: absolute;
  top: 7%;
  left: 60%;
  transform: translateX(-50%) translateY(-50%);
  rotate: 45deg;
  height: 80px;
  width: 80px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .educationContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0vw 5vw 0vw 5vw;
  }

  .educationContainer > div {
    height: 60vh;
    border-radius: 10px;
    background-color: #8ecae6;
    margin-bottom: 20px;
  }

  .educationContainer > p {
    text-align: left;
    height: 5px;
  }

  .educationContainer > .edTitle {
    margin: 0;
  }

  .educationHeading {
    margin-bottom: 20vh;
    height: 10px;
  }

  .gradIcon {
    position: absolute;
    top: 13%;
    left: 60%;
    transform: translateX(-50%) translateY(-50%);
    rotate: 45deg;
    height: 80px;
    width: 80px;
  }

  .educationPic {
    position: absolute;
    height: 200px;
    width: 300px;
    top: 7%;
    left: 35%;
  }
}

@media (min-width: 1045px) {
  .educationContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 0vw 5vw 0vw 5vw;
  }

  .educationContainer > div {
    border-radius: 10px;
    background-color: #8ecae6;
    margin-bottom: 5vh;
  }

  .gradIcon {
    position: absolute;
    top: 8%;
    left: 58%;
    transform: translateX(-50%) translateY(-50%);
    rotate: 45deg;
    height: 80px;
    width: 80px;
  }

  .educationPic {
    top: 4%;
    left: 35%;
  }
}
