body {
  background-color: #023047;
}

.intro > p {
  font-family: "Lora", serif;
  color: #023047;
  font-weight: 400;
  height: 50vh;
  width: 80vw;
  margin-bottom: 100px;
  font-size: 16px;
}

.hero {
  height: 40vh;
  width: 100%;
  color: #ffaf00;
  border: #ffaf00, solid, thick;
  background-color: #8ecae6;
}

.landingMain {
  padding: 0 10vw 0 10vw;
  background-color: #8ecae6;
  width: 80vw;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.navIcon {
  display: block;
  color: white;
  padding: 1em 0em 1em 0.5em;
}

.heropic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  margin-bottom: 5px;
}

.intro {
  color: #f4ddb5;
  height: 100%;
  width: 100%;
  padding: 0px 10px 0px 10px;
}

.mainHeading {
  font-family: "Lora", serif;
  color: #023047;
  font-size: 36px;
  font-weight: 700;
}
.name {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 700;
  color: #023047;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
.butterfly {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 35%;
  left: 85%;
}

.developer {
  position: absolute;
  top: 73%;
  left: 1%;
  height: 220px;
  width: 200px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .butterfly {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 27%;
    left: 75%;
  }

  .intro > p {
    font-family: "Lora", serif;
    color: #023047;
    font-weight: 400;
    margin-bottom: 100px;
    font-size: 21px;
  }

  .mainHeading {
    font-family: "Lora", serif;
    color: #023047;
    font-size: 48px;
    font-weight: 700;
  }
  .landingMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
    padding: 0 5vw 0 5vw;
  }
  .intro {
    color: #f4ddb5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero {
    position: relative;
    width: 70%;
  }

  .developer {
    position: absolute;
    top: 70%;
    left: 5%;
    height: 400px;
    width: 350px;
  }
}

@media (min-width: 1045px) {
  .intro > p {
    font-family: "Lora", serif;
    color: #023047;
    font-weight: 400;
    margin-bottom: 100px;
    font-size: 21px;
    height: 30vh;
    width: 60vw;
  }

  .name {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .mainHeading {
    font-family: "Lora", serif;
    color: #023047;
    font-size: 48px;
    font-weight: 700;
  }

  .hero {
    height: 50vh;
    width: 60%;
    color: #ffaf00;
    border: #ffaf00, solid, thick;
    background-color: #8ecae6;
  }

  .landingMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
    padding: 0 5vw 0 5vw;
  }
  .butterfly {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 38%;
    left: 76%;
  }

  .developer {
    position: absolute;
    top: 30%;
    left: 6%;
    height: 500px;
    width: 350px;
  }
}
