.navbar {
  visibility: hidden;
  text-decoration: none;
  padding: 1em 0 1em 0;
}

.navContainer {
  display: none;
  position: relative;
}

li {
  list-style: none;
  padding-bottom: 1.5em;
}

@media (min-width: 768px) {
  .navContainer {
    display: inline;
  }
  .navIcon {
    display: none;
  }

  a {
    color: white;
    display: inline;
    text-decoration: none;
    padding-right: 2.5em;
  }

  .navItems {
    color: white;
  }

  .navbar {
    color: white;
    font-weight: bolder;
    display: flex;
    visibility: visible;
    font-size: 10px;
  }
}
