.projectContainer {
  background-color: white;
  color: #ffb703;
}

.projectDescription {
  margin-top: 10px;
  background-color: white;
  color: #ffb703;
  border-radius: 10px;
}

.projectTitle {
  color: #ffb703;
}
