.projectContainer {
  background-color: white;
  color: #219ebc;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 0vw 5vw 0vw 5vw;
}

.aboutNote {
  margin-top: 10px;
  background-color: white;
  color: #ffb703;
  border-radius: 10px;
}

.keyboard {
  height: 20%;
  width: 50%;
}
