.skillContainer {
  height: 100vh;
  position: relative;
  background-color: #b6fffa;
}

.wing {
}

.htmlIcon {
  position: absolute;
  background-color: white;
  top: 32%;
  left: 15%;
  border-radius: 360px;
  padding: 1em;
  box-shadow: 10px 10px rgba(0, 0, 0.2, 0.2);
  transition: ease;
  transition-duration: 1s;
}

.cssIcon {
  position: absolute;
  background-color: white;
  top: 5%;
  left: 30%;
  border-radius: 360px;
  padding: 1em;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

.jsIcon {
  position: absolute;
  background-color: white;
  top: 2%;
  left: 50%;
  border-radius: 180px;
  padding: 1em;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

.reactIcon {
  position: absolute;
  background-color: white;
  top: 30%;
  left: 85%;
  border-radius: 180px;
  padding: 1em;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

.javaIcon {
  position: absolute;
  background-color: white;
  top: 60%;
  left: 70%;
  border-radius: 180px;
  padding: 1em;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

.pythonIcon {
  position: absolute;
  background-color: white;
  top: 75%;
  left: 50%;
  border-radius: 180px;
  padding: 1em;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

.angularIcon {
  position: absolute;
  background-color: white;
  top: 60%;
  left: 30%;
  border-radius: 180px;
  padding: 1em;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

.bootstrapIcon {
  position: absolute;
  background-color: white;
  top: 5%;
  left: 70%;
  border-radius: 180px;
  padding: 1em;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

.htmlSkill {
  height: 350px;
  width: 500px;
  position: absolute;
  top: 20%;
  left: 35%;
  border-radius: 180px;
  background-color: white;
  opacity: 0.5;
  padding: 10px;
}

.cssSkill {
  height: 350px;
  width: 500px;
  position: absolute;
  top: 20%;
  left: 35%;
  border-radius: 180px;
  background-color: white;
  opacity: 0.5;
  padding: 10px;
}

.jsSkill {
  height: 350px;
  width: 500px;
  position: absolute;
  top: 20%;
  left: 35%;
  border-radius: 180px;
  background-color: white;
  opacity: 0.5;
  padding: 10px;
}

.angularSkill {
  height: 350px;
  width: 500px;
  position: absolute;
  top: 20%;
  left: 35%;
  border-radius: 180px;
  background-color: white;
  opacity: 0.5;
  padding: 10px;
}

.skillsHeading {
  color: black;
}

.skillsBody {
}
